[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
flask = "*"
flask-cors = "*"
pycryptodome = "*"
requests = "*"
texttable = "*"
crispy-bootstrap4 = "*"
urllib3 = "*"
pyinquirer = "*"

[dev-packages]

[requires]
python_version = "3.9"
